* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  padding-top: 3.5rem;
  /* viene de Bootstrap*/
  font-family: 'Baloo Chettan 2', cursive;
  background-color: #b6b3af; }

nav img {
  border-radius: 50%; }
  nav img :hover {
    opacity: .6; }

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.alinLogo {
  width: 90%; }

.alinNav {
  position: absolute;
  right: 3%; }

.navegador {
  background-color: black !important;
  position: absolute; }

.titleH1 {
  display: block;
  color: #e47317;
  font-size: calc(1.375rem + 1.5vw);
  text-shadow: 2px 2px black;
  text-align: center;
  font-family: 'Baloo Chettan 2', cursive; }

.titleH2 {
  text-align: center;
  color: #e47317;
  font-size: calc(1.325rem + .9vw);
  text-shadow: 2px 2px black;
  margin: 7rem 0 1rem;
  font-weight: bold; }

.bgH1 {
  display: block;
  text-align: center;
  color: #e47317;
  font-size: calc(1.325rem + .9vw);
  text-shadow: 2px 2px black;
  margin: 8rem 0 1rem;
  font-weight: bold; }

.logo {
  text-align: center; }

header li a {
  color: #e47317 !important;
  font-weight: bold; }
  header li a:hover {
    color: white !important; }

.active {
  color: white !important; }

.alinCarousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem; }

.sizeCarousel {
  width: 80%;
  height: auto; }
  .sizeCarousel IMG {
    border-radius: 8%;
    border: 2.5px solid black; }

.textCarousel {
  color: black;
  font-weight: bold;
  text-align: center; }

.carousel-control-next, .carousel-control-prev {
  bottom: -3.5rem;
  opacity: 1; }

.carousel-indicators {
  margin-bottom: -3rem; }

.pNosotros {
  font-size: 1.3rem;
  color: black;
  background-color: rgba(241, 238, 238, 0.5);
  margin: 1rem;
  padding: 1.5rem;
  border: 2.5px solid black;
  border-radius: 3%;
  width: 70%; }

.letraNosotros {
  font-family: 'Baloo Chettan 2',  cursive;
  text-shadow: 2px 2px black;
  font-size: 1.6rem;
  color: #e47317; }

.prod {
  width: 100%; }

.card {
  border-radius: 1rem;
  align-items: center; }
  .card IMG {
    width: 100%;
    border-radius: 1rem;
    border: 2px solid black; }
  .card h4 {
    border-bottom: 1px solid black;
    padding-bottom: .5rem;
    text-shadow: 1px 1px grey; }
  .card li {
    list-style: none; }
  .card .card-text {
    font-weight: bold; }

.album {
  border-radius: 1.5rem; }

.manuales {
  width: 90%;
  background-color: #e47317;
  border-radius: 5%;
  border: 2px solid black;
  padding: 1rem;
  width: 60%; }

.imgDescargas {
  width: 4rem !important; }

.sizeForm {
  background-color: #e47317;
  border-radius: 2%;
  border: 2px solid black;
  font-weight: bold;
  padding: 1rem;
  width: 60%; }

footer {
  background-color: black;
  color: white;
  width: 100%;
  height: 7rem;
  padding-top: .5rem;
  text-align: center; }
  footer img {
    border-radius: 20%; }
    footer img:hover {
      width: 25px;
      transition: all .1s ease-in-out; }
  footer .pFooter {
    font-size: x-small; }
  footer .h4Footer {
    font-size: small; }

@media (min-width: 992px) {
  .prod {
    width: 60%; }
  .sizeCarousel {
    width: 70%; } }

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px;
    /* Height of navbar */
    bottom: 0;
    left: 100%;
    top: 6.5rem;
    width: 10rem;
    height: 18.75rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: black;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out; }
    .offcanvas-collapse li {
      padding: 0 1.2rem; }
  .offcanvas-collapse.open {
    position: absolute;
    visibility: visible;
    transform: translateX(-100%); }
  .prod {
    width: 70%;
    font-size: medium; } }

@media (max-width: 767.98px) {
  .carousel-control-next, .carousel-control-prev {
    bottom: -5.5rem;
    opacity: 1; }
  .prod {
    width: 100%;
    font-size: small; }
    .prod li {
      font-size: small; }
  .pNosotros {
    width: 100%;
    font-size: 1rem; }
  .letraNosotros {
    font-size: 1rem;
    text-shadow: 1px 1px black; }
  .sizeForm {
    font-weight: normal;
    width: 100%; }
  .sizeCarousel {
    width: 100%; } }
