*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
   // overflow-x: hidden; /* Prevent scroll on narrow devices // de Bootstrap */
    padding-top: 3.5rem; /* viene de Bootstrap*/
  //  background-image: url(../img/fondo.jpg);
  //  background-size: cover;
  //  background-repeat: no-repeat;
  //  background-attachment: fixed;
    font-family: 'Baloo Chettan 2', cursive;
    background-color: rgb(182, 179, 175);
}
