footer{
    background-color:$black;
    color:$white;
    width: 100%;
    height: 7rem;
    padding-top: .5rem;
    text-align: center;
    & img{ 
        border-radius: 20%;        
        &:hover{
            width: 25px;
            transition: all .1s ease-in-out;
        }

    }
    .pFooter{
        font-size: x-small;
    }
    .h4Footer{
        font-size: small;
    }
}