nav img{
    border-radius: 50%;
    & :hover{
        opacity: .6;
    }
}  
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.alinLogo{
    width: 90%;
}
.alinNav{
    position: absolute;
    right: 3%;
}
.navegador{
    background-color: $black !important;
    position: absolute;
}
.titleH1{
    display: block;
    color: $orange;
    font-size: calc(1.375rem + 1.5vw);
    text-shadow: 2px 2px $black;
    text-align: center;
    font-family: 'Baloo Chettan 2', cursive;
}
.titleH2{
    text-align: center;
    color: $orange;
    font-size: calc(1.325rem + .9vw);
    text-shadow: 2px 2px $black;
    margin: 7rem 0 1rem;
    //padding-top: .5%; 
    font-weight: bold;
}
.bgH1{
    //background-color: $grey;
    //width: 100vh; 
    display: block;
    text-align: center;
    color: $orange;
    font-size: calc(1.325rem + .9vw);
    text-shadow: 2px 2px $black;
    margin: 8rem 0 1rem;
   // padding: .5%;
    font-weight: bold;
}
.logo{
    text-align: center;
}
header li a{ 
    color:$orange !important;
    font-weight: bold;
    &:hover{
        color: $white !important;
    }
}
.active{
    color: $white !important;
}

