//--comienzo sección index
.alinear{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4rem;
}
.sizeCarousel{
    width: 80%;
        & IMG{
        border-radius: 1.5rem;
        border: 2.5px solid $black;
    }
}
.textCarousel{
    color: $black;
    font-weight: bold;
    text-align: center;
}
.carousel-control-next, .carousel-control-prev{
    bottom: -3.5rem;
    opacity: 1;    
}
.carousel-indicators{
    margin-bottom: -3rem;
}
//----fin sección index

//----comienzo sección nosotros
    
.pNosotros{
    font-size: 1.3rem;
    color: $black;
    background-color: $bgNosotros;
    margin: 1rem;
    padding: 1.5rem;
    border: 2.5px solid $black;
    border-radius: 1.5rem;
    width: 70%;
}
.letraNosotros{
    text-shadow: 2px 2px $black;
    font-size: 1.6rem;
    color: $orange;
}
//------fin seccion nosotros

//------comenzo sección productos
.album{
    border-radius: 1.5rem;
    width: 100%;
    & .card{
        border-radius: 1rem;
        align-items: center;
        & IMG{
            width: 95%;
            border-radius: 1rem;
            border: 2px solid $black;
            margin: 2.5%;
        }
        & .imgDescargas{
            margin-top: .7rem;
        }
        & h4{
            border-bottom: 1px solid $black;
            padding-bottom: .5rem;
            text-shadow: 1px 1px $grey;
        }
        li{
            list-style: none;
        }
        .card-text{
            font-weight: bold;
        }
    }
}
.btn{ //ver más
    color: $white;
    background-color: $gray;
}
.btn-outline-secondary:hover{ //ver más
    color: $white !important;
    background-color: $grey !important;
}
.comprar{ //comprar
    color: $white;
    background-color: $red;
}
.btn-outline-warning:hover{ //comprar
    color: $red !important;
    background-color: $Yellow !important;
}

//------fin seccion productos

//----comienzo sección manuales

.manuales{
    width: 90%;
    background-color:$orange;
    border-radius: 5%;
    border: 2px solid $black;    
    padding: 1rem;
    width: 60%;
}
//------fin seccion manuales

//----comienzo sección contacto

.sizeForm{
    background-color:$orange;
    border-radius: 1.5rem;
    border: 2px solid $black;
    font-weight: bold;
    padding: 1rem;
    width: 60%;
}


//------fin seccion contacto
